# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
coverage/

# Android / IDE
android/.gradle/
android/local.properties
*.iml
.idea/
.vscode/

# Signing
*.jks
*.keystore
key.properties
